:root {
    --size-field: 140px;
    --font-size: 60px;
    --font-family: 'Niconne', cursive;
    --translate-X: calc(50% - (var(--font-size)/4));
    --translate-Y: calc(50% - (var(--font-size)/2));
    --distanceY-between-field: 75px;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.board {
    position: relative;
    height: 100vh;
    background: url("Images/mapa.jpg") no-repeat 45% 75%;
    background-size: 145%;

}

.pawn {
    position: absolute;
    height: 300px;
    width: 100px;
    transform: rotateY(10deg) rotateX(40deg) translateX(70%) translateY(-140%);
    z-index: 100;
}

.dice {
    position: absolute;
    bottom: 9vh;
    right: 8vw;
    width: 73px;
    height: 73px;
    background: url('Images/dice.jpg') no-repeat -20px center;
    background-size: 950%;
    border-radius: 15%;
    transition: 0.3s;
}

.btn {
    
    padding: 0 1.5em;
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-align: center;
    color: white;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.throwBtn{
    position: absolute;
    bottom: 9vh;
    right: 15vw;
}

.closeBtn{
    position: absolute;
    top: 73%;
    left: 55%;
    padding: 0 0.75em;
    font-size: calc(var(--font-size) / 2);
}

.results {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url("Images/scroll.png") no-repeat center   center ;
    background-size: 45%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 36px;
    font-family: var(--font-family);
}

.hideResults{
    display: none;
}

.result{
    position: absolute;
    top:25%;
    left:47%;
}

.countThrows{
    position: absolute;
    top:40%;
    left:40%;
}

.average{
    position: absolute;
    top:50%;
    left:40%;
}


.field {
    position: absolute;
    width: var(--size-field);
    height: var(--size-field);
    border: 2px solid black;
    border-radius: 50%;
    transform: rotateY(10deg) rotateX(-70deg);
    transition: 0.3s;
    box-shadow: 5px 30px 10px rgba(0, 0, 0, 1);
    background: #A600FF;
}

.field:nth-child(1) {
    bottom: 12vh;
    left: 1vw;
    width: calc(var(--size-field) + 4vh);
    height: calc(var(--size-field) + 4vh);
}

.field:nth-child(2) {
    bottom: calc(var(--distanceY-between-field) + 15vh);
    left: 2.3vw;
}

.field:nth-child(3) {
    bottom: calc(var(--distanceY-between-field) * 2 + 16vh);
    left: 4.6vw;
}

.field:nth-child(4) {
    bottom: calc(var(--distanceY-between-field) * 3 + 17vh);
    left: 6.8vw;
}

.field:nth-child(5) {
    bottom: calc(var(--distanceY-between-field) * 4 + 18vh);
    left: 10vw;
}

.field:nth-child(6) {
    bottom: calc(var(--distanceY-between-field) * 6 + 11vh);
    left: 13.5vw;
}

.field:nth-child(7) {
    bottom: calc(var(--distanceY-between-field) * 6 + 18vh);
    left: 21vw;
}

.field:nth-child(8) {
    bottom: calc(var(--distanceY-between-field) * 6 + 17vh);
    left: 29vw;
}

.field:nth-child(9) {
    bottom: calc(var(--distanceY-between-field) * 6 + 10vh);
    left: 31vw;
}

.field:nth-child(10) {
    bottom: calc(var(--distanceY-between-field) * 5 + 7vh);
    left: 32vw;
}

.field:nth-child(11) {
    bottom: calc(var(--distanceY-between-field) * 4 + 4vh);
    left: 35vw;
}

.field:nth-child(12) {
    bottom: calc(var(--distanceY-between-field) * 3 + 2vh);
    left: 40vw;
}

.field:nth-child(13) {
    bottom: calc(var(--distanceY-between-field) * 2 + 3vh);
    left: 47vw;
    background: url(Images/czaszka.png) no-repeat center center;
    background-size: 60%;
    background-color: #A600FF;
}

.field:nth-child(14) {
    bottom: calc(var(--distanceY-between-field) * 3 - 2vh);
    left: 57vw;
}

.field:nth-child(15) {
    bottom: calc(var(--distanceY-between-field) * 3 + 1vh);
    left: 67vw;
}

.field:nth-child(16) {
    bottom: calc(var(--distanceY-between-field) * 4 + 1vh);
    left: 75vw;
}

.field:nth-child(17) {
    bottom: calc(var(--distanceY-between-field) * 4 + 6vh);
    left: 65vw;
}

.field:nth-child(18) {
    bottom: calc(var(--distanceY-between-field) * 5 + 2vh);
    left: 54vw;
}

.field:nth-child(19) {
    bottom: calc(var(--distanceY-between-field) * 6 + 3vh);
    left: 59vw;
}

.field:nth-child(20) {
    bottom: calc(var(--distanceY-between-field) * 7 - 1vh);
    left: 69vw;
    background: url(Images/back-icon-18.jpg) no-repeat center center;
    background-size: 55%;
    background-color: #A600FF;
}

.field:nth-child(21) {
    bottom: calc(var(--distanceY-between-field) * 7 + 1vh);
    left: 78vw;
    background: url(Images/meta.jpg) repeat center center;
    background-size: cover;
}

.field p {
    width: 100%;
    height: 100%;
    transform: translateX(calc(var(--translate-X) + 5px)) translateY(calc(var(--translate-Y) - 1vh));
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.field:nth-child(1) p {
    transform: translateX(18%) translateY(var(--translate-Y));
}

.field:nth-child(n + 11) p {
    transform: translateX(calc(var(--translate-X) - 0.2vw)) translateY(calc(var(--translate-Y) - 1vh));
}


.field:nth-child(20) p {
    transform: translateX(calc(var(--translate-X) - 1vw)) translateY(calc(var(--translate-Y) + 1vh));
}

.field:nth-child(21) p {
    transform: translateX(calc(50% - 50px)) translateY(var(--translate-Y));
    font-size: 40px;
}